doctype html
html(lang='en')
    head
        include ./head.pug
    body.sidebar-mini(style="heigth:auto;")
        .wrapper
            include ./navBarSuperiror.pug
            include ./nav.pug
        .content-wrapper(style="min-height: 898px;")
            section.content-header
                .container-fluid
                    .row.mb-2
                        .col-sm-6
                            h3 #{i18n.admin_title_blog_articles}
                        .col-sm-6
                            ol.breadcrumb.float-sm-right
                                li.breadcrumb-item
                                    a(href='#') Home
                                li.breadcrumb-item.active #{i18n.admin_title_blog_articles}
            section.content
                .card
                    .card-header
                        h5.car-title #{i18n.admin_title_blog_articles}

                        .card-tools
                            button.btn.btn-tool(type='button' data-widget='collapse' data-toggle='tooltip' title='Collapse')
                                i.fas.fa-minus
                            button.btn.btn-tool(type='button' data-widget='remove' data-toggle='tooltip' title='Remove')
                                i.fas.fa-times
                    .card-body
                        .row
                            .col-12.col-md-4
                            .col-12.col-md-4
                            .col-12.col-md-4
                                button#nuevo_elemento.btn.btn-block.btn-success.btn-outline #{i18n.admin_button_new}
                        br
                        .row
                            .col-12
                                table#Table_of_articles.display.table.table-striped.table-bordered.table-hover(width='100%')
                                    thead
                                        tr
                                            th #{i18n.admin_articles_id}
                                            th #{i18n.admin_articles_title}
                                            th #{i18n.admin_articles_friendly_name}
                                            th #{i18n.admin_articles_thumbnail}
                                            th #{i18n.admin_articles_extract}
                                            th #{i18n.admin_articles_dt_reg}
                                            th #{i18n.admin_articles_last_date_updated}
                                            th #{i18n.admin_articles_active}
                                            th #{i18n.admin_articles_autor}
                                            th #{i18n.admin_articles_tags}
                                            th #{i18n.admin_articles_actions}


                    .card-footer
                        p #{i18n.admin_title_articles_list}


        br
        #myDataModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true',data-backdrop="static", data-keyboard="false")
            .modal-dialog.modal-xl
                .modal-content
                    .modal-header
                        h4#myModalLabel.modal-title #{i18n.admin_modal_save_edit}
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        label  #{i18n.admin_modal_add_title}
                        input#txt_title.form-control(type="text")
                        br
                        label  #{i18n.admin_modal_add_fridendly_name}
                        input#txt_f_name.form-control(type="text")
                        br
                        label  #{i18n.admin_modal_add_thumbnail}
                        input#txt_thumbnail.form-control(type="file")
                        input#txt_thumbnail_save.form-control(type="text",style="display:none;")
                        br
                        label  #{i18n.admin_modal_add_extract}
                        textarea(rows="5")#txt_extract.form-control
                        br
                        label  #{i18n.admin_modal_add_tags}
                        input#txt_tags.form-control(type="text")
                        br
                        label  #{i18n.admin_modal_add_content}
                        #summernote

                    .modal-footer
                        button#SaveChanges.btn.btn-primary(type='button') #{i18n.admin_modal_save}
                        button.btn.btn-secondary(type='button' data-dismiss='modal') #{i18n.admin_modal_cancel}


        include ./footer.pug
        include ./aside.pug

        include ./scripts.pug
        script(src=config.path.AssetsCP + '/code/js/articles.js?v=' + Math.random())





