doctype html
html(lang='en')
    head
        include ./head.pug
    body.sidebar-mini(style="heigth:auto;")
        .wrapper
            include ./navBarSuperiror.pug
            include ./nav.pug
        .content-wrapper(style="min-height: 898px;")
            section.content-header
                .container-fluid
                    .row.mb-2
                        .col-sm-6
                            h3 #{i18n.admin_menu_routes_access_admin }
                        .col-sm-6
                            ol.breadcrumb.float-sm-right
                                li.breadcrumb-item
                                    a(href='#') Home
                                li.breadcrumb-item.active #{i18n.admin_menu_routes_access_admin }
            section.content
                .card
                    .card-header
                        h5.car-title #{i18n.admin_menu_routes_access_admin }

                        .card-tools
                            button.btn.btn-tool(type='button' data-widget='collapse' data-toggle='tooltip' title='Collapse')
                                i.fas.fa-minus
                            button.btn.btn-tool(type='button' data-widget='remove' data-toggle='tooltip' title='Remove')
                                i.fas.fa-times
                    .card-body
                        .row
                            .col-12.col-md-4
                            .col-12.col-md-4
                            .col-12.col-md-4
                                button#nuevo_elemento.btn.btn-block.btn-success.btn-outline #{i18n.admin_button_new}
                        br
                        .row
                            .col-12
                                table#tbl_.display.table.table-striped.table-bordered.table-hover(width='100%')
                                    thead
                                        tr
                                            th #{i18n.admin_routes_description}
                                            th #{i18n.admin_routes_route}
                                            th #{i18n.admin_routes_method}
                                            th #{i18n.admin_routes_allowed_roles}
                                            th #{i18n.admin_routes_actions}


                    .card-footer
                        p  #{i18n.admin_route_lis}


        #myDataModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true',data-backdrop="static", data-keyboard="false")
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h4#myModalLabel.modal-title #{i18n.admin_modal_save_edit}
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        #SaveToModal_ES.form-group
                            label  #{i18n.admin_modal_add_description_route}
                            textarea( rows="5")#txt_description.form-control

                            label  #{i18n.admin_modal_add_route}
                            input(type="text",placeholder="EX: /api/users")#txt_route.form-control
                            br
                            label  #{i18n.admin_modal_add_method}
                            select(multiple="true")#txt_methods.form-control
                                option(value="POST") POST
                                option(value="GET") GET
                                option(value="PUT") PUT
                                option(value="DELETE") DELETE
                            br
                            label  #{i18n.admin_modal_add_roles}
                            select(multiple="true")#txt_roles.form-control

                    .modal-footer
                        button#SaveChanges.btn.btn-primary(type='button') #{i18n.admin_modal_save}
                        button.btn.btn-secondary(type='button' data-dismiss='modal') #{i18n.admin_modal_cancel}


        include ./footer.pug
        include ./aside.pug
        include ./scripts.pug
        script(src=config.path.AssetsCP + '/code/js/route_access.js?v=' + Math.random())





