meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='icon',  href='/cdn/assets/favicon.ico')
meta(name="twitter:card" ,content="summary_large_image")
if config
    if config.langTexts
    script.
        const lx_i18n= JSON.parse('!{config.langTexts}'); 

if seo
    if seo.title
        title #{seo.title}
        meta(name='application-name', content=seo.title)
        meta(name="twitter:title" ,content=seo.title)
        meta(property='og:title', content=seo.title)
    if seo.description
        meta(name='description', content=seo.description)
        meta(property='og:description', content=seo.description)
        meta(name="twitter:description" ,content=seo.description)
    if seo.image 
        meta(name="twitter:image" ,content=seo.image)
        meta(property='og:image', content=seo.image)
    if seo.domain
        meta(name="twitter:domain" ,content=seo.domain)
    if seo.url 
        meta(property='og:url', content=seo.url)
    if seo.tw_posted_by
        meta(name="twitter:site" ,content=seo.tw_posted_by)
    if seo.og_type
        meta(property='og:type', content=seo.og_type)










if config.assets.css
    each val in config.assets.css
        link(rel="stylesheet", href=config.path.AssetsSite+val)




script.
    const rootPath = '#{rootPath}'
link(rel="stylesheet", href=config.path.AssetsSite+"/bootswatch-dist/"+config.theme+'/bootstrap.css')
script(src=config.path.AssetsSite+"/jquery.js")






